.rounded-img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
    padding: 0.2em;
  }
  
  /* Стили для темной темы */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #3b3b3b;
      color: #fff;
    }
  }
  
  /* Стили для светлой темы */
  @media (prefers-color-scheme: light) {
    body {
      background-color: #fff;
      color: #000;
    }
  }

  /* бар */
  /* Обнуление стилей для списка */
  ul {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Цвет фона навигационного меню */
  }
  
  /* Стили для элементов списка */
  li {
    float: left;
    text-align: center;
    
  }
  
  /* Стили для ссылок в элементах списка */
  li a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  
  /* При наведении мыши */
  li a:hover {
    background-color: #555; /* Изменение цвета фона при наведении */
  }
  /* бар */
  
  /* навигационный бар */
  /* Стили для навигационного бара снизу на мобильных устройствах */
.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

.mobile-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-nav li {
  text-align: center;
}

.mobile-nav li a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

/* Стили для остального содержимого */
.content {
  padding-bottom: 60px; /* Отступ снизу, чтобы навигационный бар не перекрывал содержимое */
}
